<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Haver</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Haver.styles.css" asp-append-version="true" />
</head>
<body>
   @* <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Haver</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>*@
    <header class="d-block py-3">
        <div class="d-flex justify-content-between px-5">
            <h5 class="mt-2">
                <i><img src="images/HaverBoecker.png" alt="" /></i>Haver
            </h5>

            <partial name="_LoginPartial" />

        </div>
    </header>
    <hr class="border-2 hello" />
    <div class="row">
        <div class="col-12">
            <div class="input-group input-group-lg">
                <span class="input-group-text">
                    <i class="fas fa-search px-md-5"></i>
                </span>
                <input type="text"
                       class="form-control"
                       placeholder="supplier name or NCR No." />
            </div>
        </div>
    </div>
    <section class="bg-light">
        <div class="outlet py-md-3">
            <div class="row justify-content-start mt-5">
                <div class="col-md-2 col-xl-1 vertical-line text-md-center">
                    <a href="" class="text-black text-decoration-none"><img src="images/report.png" alt="" /><span> Reports</span></a>
                </div>
                <div class="col-md-2 col-xl-1 vertical-line text-md-center">
                    <a href="" class="text-black text-decoration-none"><img src="images/Roles.png" alt="" /><span> Roles</span></a>
                </div>
                <div class="col-md-2 col-xl-1 vertical-lines text-md-center">
                    <a href="" class="text-black text-decoration-none" ><img src="images/Looksups.png" alt="" /><span> Lookups</span></a>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-light">
        <section class="reports-main ms-5 me-5 p-4 bg-white">
            <div class="row text-center">
                <div class="box col-md-4">
                    <p class="mt-2"><img src="images/1.png" alt="" /> Quality report</p>
                </div>
                <div class="box col-md-4">
                    <p class="mt-2"><img src="images/2.png" alt="" /> Engineering</p>
                </div>
                <div class="box col-md-4">
                    <p class="mt-2"><img src="images/3.png" alt="" /> Purchasing</p>
                </div>
            </div>

            <section class="mt-5">
                <div class="eng col-md-12 bg-light mb-3 d-flex justify-content-between align-items-center">
                    <button  class="btn rounded">
                        <img src="images/Enginerring.png" alt="" /> Engineering
                    </button>
                    <span class="p-1"><img src="images/plus.png" alt="" /></span>
                </div>
                <div class="eng col-md-12 bg-light mb-5 d-flex justify-content-between align-items-center">
                    <button class="btn rounded">
                        <img src="images/Purchasing.png" alt="" /> Purchasing
                    </button>
                    <span class="p-1"><img src="images/plus.png" alt="" /></span>
                </div>
            </section>
        </section>
    </section>



    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Haver - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
